<?xml version="1.0"?>
<launch>
  <arg name="rviz" default="true"/>
  <!-- Load robot description -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find drz_telemax_description)/urdf/drz_telemax_complete.urdf.xacro" />
  <param name="robot_description_semantic" textfile="$(find drz_telemax_moveit_config)/config/drz_telemax.srdf" />

  <!-- interactive marker to control robot pose -->
  <node pkg="vigir_interactive_marker_pose_server" type="interactive_marker_pose_server" name="robot_pose_interactive_marker" output="screen"
      ns="sdf_contact_estimation_test/interactive_marker">
    <remap from="pose" to="set_robot_pose"/>
    <param name="marker_name" value="robot_pose" />
    <param name="frame_id" value="world" />
    <remap from="~init_pose" to="/sdf_contact_estimation_test/robot_pose"/>
  </node>

  <!-- Joint state UI -->
  <rosparam subst_value="true">
    zeros:
      flipper_front_left_joint: 0.0
      flipper_front_right_joint: 0.0
      flipper_back_left_joint: 0.0
      flipper_back_right_joint: 0.0
      arm_joint_0: 0.0
      arm_joint_1: -2.36
      arm_joint_2: 2.32
      arm_joint_3: 0.0
      arm_joint_4: 2.16
      arm_joint_5: 0.0
  </rosparam>
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <!-- optimization based contact simulation -->
  <node pkg="sdf_contact_estimation" type="sdf_contact_estimation_node" name="sdf_contact_estimation_test" output="screen" clear_params="true">
    <!-- node parameters -->
    <param name="debug" value="true"/>

    <rosparam subst_value="true">
      robot_pose: [6.056309, 0.071207, 0.600000, 0.000000, -0.000000, 0.000000]
    </rosparam>
    <!-- library parameters -->
    <param name="stepping" value="false"/>
    <param name="repeat" value="1"/>

    <rosparam file="$(find sdf_contact_estimation)/config/sdf_config.yaml" command="load" subst_value="true"/>
    <rosparam file="$(find sdf_contact_estimation)/config/optimization.yaml" command="load" />
    <rosparam file="$(find sdf_contact_estimation)/config/telemax_shape_config.yaml" command="load" ns="shape_model"/>

    <remap from="~set_robot_pose" to="/sdf_contact_estimation_test/interactive_marker/set_robot_pose"/>
  </node>

  <!-- rviz vizualisation -->
  <include if="$(arg rviz)" file="$(find sdf_contact_estimation)/launch/rviz.launch"/>
</launch>
